:root{
    --lightblue: #039BE6;
    --yellow: #F7BF2D;  
    --purple: #403F67;
    --accentpurple: #2D2D51;
    --offwhite: #F5F8FF;
    --white: #FFFFFF;
    --gray: #737373;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    color: #2D2D51;
    width: 600px;
    margin: 0;
    background-color: var(--lightblue);
    border-radius: 30px;
    height: auto;
}

html {
    height: 600px;
    width: 600px;
    overflow: hidden;
    margin: auto;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
    font-weight: unset;
}
p{
    font-size: 24px;
    color: var(--gray);
}

.popup-container {
    background: var(--offwhite);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.brand-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-logo {
    user-select: none;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 5px;;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon-btn img {
    pointer-events: none; 
}

.popup-main {
    font-family: sans-serif;
    height: 235px;
    background-color: var(--white);
    margin-top: 0px;
    padding: 5px;
    border: var(--accentpurple) solid 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    max-height: 500px;
    overflow-y: auto;
    user-select: none;
}

.tooltag{
    text-align: center;
    user-select: none;
    color: var(--gray);
}

.tool-stage{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    color: var(--accentpurple);
    font-weight: bold;
    user-select: none;
}

.btn {
    width: 100%;
    border: var(--purple) solid 5px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    cursor: pointer;
    font-size: 48px;
    font-family: 'JetBrains Mono', monospace;
}

.btn.disabled {
    cursor: default;
}

.submit-disabled {
    background-color: var(--purple);
    opacity: 0.7;
}

.hidden {
    display: none;
}

.default {
    background-color: var(--accentpurple);
    height: 85px;
    margin-top: 22px;
    font-size: 32px;
    font-family: 'JetBrains Mono', monospace;
    user-select: none;
}

.start {
    background-color: var(--purple);
    border: var(--accentpurple) solid 5px;
    height: 85px;
    margin-top: 20px;
    font-size: 40px;
    cursor: default;
}

.bottom-tip {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: -2px;
    font-style: italic;
    user-select: none;
}

/* --------------------------- */
/* Settings Panel */
/* --------------------------- */

.settings-panel {
    background: var(--purple);
    padding: 16px;
    border-radius: 10px;
    margin: 10px;
    transition: all 1s ease-in-out;
    height: 495px;
}

.settings-panel.hidden {
    display: none;
}

.settings-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 40px;
    color: var(--lightblue);
    text-align: center;
}

.setting-item {
    color: var(--white);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: var(--gray);
    border-radius: 20px;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px; width: 16px;
    left: 2px; bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: var(--lightblue);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* --------------------------- */
/* Help  Panel*/
/* --------------------------- */
.help-panel {
    background: var(--purple);
    padding: 16px;
    padding-left: 32px;
    border-radius: 10px;
    margin: 10px;
    transition: all 1s ease-in-out;
    height: 495px;
    overflow-y: auto;
}

.help-panel p {
    font-size: 20px;
    font-style: italic;
    margin: 30px 0;
}

.help-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 40px;
    color: var(--lightblue);
    text-align: center;
    user-select: none;
}

.help-panel.hidden {
    display: none;
}

.help-content a:hover {
    text-decoration: underline;
}

.usage-list {
    color: var(--white);
    font-size: 24px;
}

.tool-help {
    margin-left: 20px;
    list-style-type: decimal;
}

.tool-help li {
    margin-bottom: 10px;
}

.button-help {
    color: var(--white);
    list-style-type: none;
}

.button-help li {
    margin-bottom: 10px;
}

.button-help a{
    color: var(--lightblue);
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

/* Stage responsive buttons*/
.btn.stage-select {
    color: var(--gray);
    background-color: var(--purple);
    cursor: not-allowed;
}

.btn.stage-preview {
    color: var(--white);
    background-color: var(--lightblue);
    cursor: pointer;
}

.btn.stage-preview:hover {
    background-color: #028acc; 
    transform: scale(1.01);
    transition: all 0.2s ease;
}

.btn.stage-analyzing {
    color: var(--lightblue);
    background-color: var(--purple);
    cursor: not-allowed;
}

.btn.stage-result {
    color: var(--white);
    background-color: var(--purple);
    cursor: pointer;
}

.btn.stage-result:hover {
    background-color: #332e59; 
    transition: all 0.2s ease;
}

.btn.extension-disabled {
    color: var(--white);
    background-color: var(--purple);
    opacity: 0.6;
    cursor: not-allowed;
}
